

@model CheeseMVC.ViewModels.ViewMenuViewModel


<h1>@ViewBag.Title</h1>

@foreach (var IamTired in Model.Items)
{
        <ul>@IamTired.Cheese.Name</ul>

}
    <p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>